.SideBarMenu{
    width: var(--side-bar-width);
    background-color: var(--second-color);
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: flex;
    margin: 0;
    padding: 0px;
    /* padding: 0 10px; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 0px;
    border-right: 2px;
    border-style: solid;
    border-color: #303e41;
    overflow: hidden;
    box-sizing: border-box;
}

.menuTop{
    box-sizing: border-box;
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px;
}

.navLogoText{
    font-size: 32px;
    background-size: 100%;
}


.menuBody {
    width: 100%;
    justify-content: center;
}

.menuBody ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.menuBody ul li{
    position: relative;
    height: 50px;
    width: 100%;
    /* width: 100%;  ?????? */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.menuBody ul li:hover{ 
    background-color: var(--third-color);
    width: 100%;
    /* width: calc(100% - 20px);  ?????? */
}

.menuBody ul li a {
    text-decoration: none;
    color: var(--font-color);
    display: block;
    width: 100%;
    padding: 10px 20px;
}

.menuBody ul a.active{
    color: var(--fourth-color);
}

.menuBody_Text {
    margin-left: 15px;
}

.menuBot {
    display: grid;
    margin: auto auto 30px;
    gap: 20px;
}   

.menuBot_Socials {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    justify-content: space-between;
}

.menuBot_Socials img:hover {
    filter: brightness(0) saturate(100%) invert(39%) sepia(7%) saturate(2999%) hue-rotate(147deg) brightness(95%) contrast(92%);
}


.menuBot_Logout {
    background-color: var(--third-color);
    padding: 15px;
    border-radius: 30%;
}