.mainMenu{
    width: 11rem;
    background-color: var(--second-color);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 0px;
    border-right: 2px;
    border-style: solid;
    border-color: #303e41;
}

.menuTop{
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuBody {
    width: 100%;
    justify-content: center;
}

.menuBody ul {
    list-style: none;
}

.menuBody a{
    text-decoration: none;
    color: var(--font-color);
}

.menuBody ul li{
    height: 50px;
    margin-bottom: 10px;
}

.menuBody ul li img {
   
}


.menuBody_Text {
    margin-left: 10px;
}

.menuBot {
    margin: auto auto 22px;
}

.navLogoText{
    font-size: 32px;
    background-size: 100%;
}
