.portfolio {
    display: flex;
    gap: 40px;
    width: 100%;
}

.portfolio_frame {
    width: 100%;
    min-height: 500px;
    margin-bottom: 50px;
    padding: 20px 30px 20px;
    background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);
    border-radius: 30px;
    box-sizing: border-box;
}

.portfolio_frame_gap {
    display: grid;
    gap: 20px;
}

.portfolio_header {
    display: flex;
    justify-content: space-between;
}

.portfolio_name {
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 2px 0 0 var(--fourth-color);
}


.portfolio_update {
    display: flex;
    font-size: 16px;
    align-items: center;
    gap: 10px;
}

.portfolio_update_name {
    display: flex;
    align-items: center;
}

.portfolio_update_button {
    display: flex;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    margin-left: 12px;  
    align-items: center;
}

.portfolio_update_color {
    color: var(--fourth-color);
    margin: 0 5px;
}

.portfolio_table {

}

.portfolio_table_gap {
    display: grid;
    gap: 5px;
}

.portfolio_table_header {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(58, 255, 196,  0.3);
}

.portfolio_table_header_names {
    font-size: 12px;
    text-transform: uppercase;
}

.portfolio_table_body {
    display: grid;
    font-size: 16px;
}


.wallet_frame {
    position: sticky;
    top: 20px;
    width: 35%;
    height: 300px;
    padding: 20px 30px 20px;
    background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);
    border-radius: 30px;
    box-sizing: border-box;
}

.wallet_gap {
    display: grid;
    gap: 25px;
}

.wallet_header {
    display: flex;
    gap: 70px;
    align-items: center;
}

.wallet_name {
    width: 30%;
    font-size: 24px;
    font-weight: bold;
}

.wallet_name_shadow {
    width: fit-content;
    box-shadow: 0 2px 0 0 var(--fourth-color);
}

.wallet_balance {
    font-size: 28px;
    font-weight: bold;
    padding: 3px 15px 3px 15px;
    border: 2px solid var(--fourth-color);
    border-radius: 30px;
}

.wallet_img{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.wallet_address {
    display: flex;
    font-size: 24px;
    gap: 45px;
}

.wallet_address_name {
    max-width: 41%;
}

.wallet_address_button {
    display: flex;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    align-items: center;
}

.wallet_address_button:hover {
    cursor: pointer;
}

.wallet_body {
    width: 100%;
}

.wallet_info {
    display: flex;
    line-height: 1;
    gap: 85px;
    font-size: 18px;
}

.wallet_info_name {
    width: 30%;
}

.wallet_info_data {
    color: var(--fourth-color);
    font-weight: bold;
}