.wallets_table_row {
    display: flex;
    height: 60px;
    border-top: 1px solid rgba(58, 255, 196, 0.3);
    font-size: 18px;
    box-sizing: border-box;
}

.wallets_table_row:first-child {
    border-top: 0;
}

.wallets_table_cell {
    display: flex;
    align-items: center;
    padding: 0px 30px 0px 30px;
}

.wallets_table_crossCenter {
    justify-content: center;
}


.wallets_table_cross {
    display: flex;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    align-items: center;
    cursor: pointer;
}

.wallets_table_details {
    
}

.wallets_table_details a {
    text-decoration: none;
    color: var(--wallets-color);
}

.wallets_table_details a:hover {
    color: #3AFFC4;
}