.portfolio_table_body_row {
    display: flex;
    height: 50px;
}

.portfolio_table_body_cell {
    display: flex;
    align-items: center;
}

.portfolio_table_TokenName {
    display: flex;
    align-items: center;
    gap: 10px;
}

.portfolio_table_TokenLogo {
    display: flex;
    align-items: center;
}