/* PROFILE */

.profile{
    display: grid;
    gap: 40px;
    width: 100%;
}

.profile_top_info {
    display: flex;
    gap: 40px;
    width: 100%;
}

.profile_frame {
    width: 100%;
    height: 275px;
    border:  var(--border-color), 1px, solid;
    box-sizing: border-box;
    background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);
    border-radius: 30px;
    overflow: hidden;
}

.profile_banner {
    overflow: hidden;
    height: 175px;
}

.profile_banner img{
    width: 100%;
    height: 175px;
}

.profile_info {
    padding-left: 50px;
    display: flex;
    gap: 20px;
}

.profile_photo {
    margin-top: -5%;
}

.profile_photo img{
    width: 105px;
    height: 105px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    box-sizing: border-box;
    border: var(--profile-img-color), 3px, solid;
}

.profile_name {
    color: var(--fourth-color);
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}
/* WALLET */

.wallet_frame {
    width: 100%;
    height: 275px;
    background: linear-gradient(187.04deg, rgba(255, 255, 255, 0.12) 7.55%, rgba(255, 255, 255, 0) 71.46%);
    border:  var(--border-color), 1px, solid;
    box-sizing: border-box;
    border-radius: 30px;
    overflow: hidden;
}

.wallet_wallet {
    padding-left: 30px;
}

.wallet_header {
    display: flex;
    gap: 70px;
    align-items: center;
    padding-top: 35px;
}

.wallet_name {
    width: 30%;
    font-size: 24px;
    font-weight: bold;
}

.wallet_name_shadow {
    width: fit-content;
    box-shadow: 0 2px 0 0 var(--fourth-color);
}

.wallet_balance {
    font-size: 28px;
    font-weight: bold;
    padding: 3px 15px 3px 15px;
    border: 2px solid var(--fourth-color);
    border-radius: 30px;
}

.wallet_img{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.wallet_body {
    width: 100%;
}

.wallet_info {
    display: flex;
    line-height: 1;
    padding-top: 23px;
    gap: 85px;
    font-size: 18px;
}

.wallet_info_name {
    width: 30%;
}

.wallet_info_data {
    color: var(--fourth-color);
    font-weight: bold;
}

/* PORTFOLIO */

.portfolio {
    display: flex;
    gap: 40px;
    width: 100%;
}

.portfolio_frame {
    width: 100%;
    min-height: 500px;
    margin-bottom: 50px;
    padding: 20px 30px 20px;
    background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);
    border-radius: 30px;
    box-sizing: border-box;
}

.portfolio_frame_gap {
    display: grid;
    gap: 20px;
}

.portfolio_header {
    display: flex;
    justify-content: space-between;
}

.portfolio_name {
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 2px 0 0 var(--fourth-color);
}


.portfolio_update {
    display: flex;
    font-size: 16px;
    align-items: center;
    gap: 10px;
}

.portfolio_update_name {
    display: flex;
    align-items: center;
}

.portfolio_update_button {
    display: flex;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    margin-left: 12px;  
    align-items: center;
}

.portfolio_update_color {
    color: var(--fourth-color);
    margin: 0 5px;
}

.portfolio_table {

}

.portfolio_table_gap {
    display: grid;
    gap: 5px;
}

.portfolio_table_header {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(58, 255, 196,  0.3);
}

.portfolio_table_header_names {
    font-size: 12px;
    text-transform: uppercase;
}

.portfolio_table_body {
    display: grid;
    font-size: 16px;
}


.profit_frame {
    position: sticky;
    top: 20px;
    width: 40%;
    height: 300px;
    background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);
    border-radius: 30px;
    
}


/* .circle_gradient {

position: absolute;
width: 576px;
height: 558px;
left: 130px;
top: 552px;
background: #0A303E;
filter: blur(285px);

} */