.pageHeader{
    width: 100%;
    height: var(--header-height);
    font-size: 1rem;
    position: relative;
}

.leftHeader {
    margin-left: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    float: left;
}


.rightHeader{
    margin-right: 100px;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
}

.miniProfile{
    display: flex;
    align-items: center;
    height: 45px;
}

.miniProfile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}