:root{
    --main-color: #071414;
    --second-color: #0C1C20;
    --font-color: #ffffff;
    --font-settings: 'Inter', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

.main {
    background-color: var(--main-color);
    color: var(--font-color);
    font-family: var(--font-settings);
    padding: 0;
    margin: 0;
    height: 100vb;
    font-size: 1.2rem;
    line-height: 1.5;
    display: block;
    min-width: 320px;
    padding-left: 15rem;
    overflow-x: hidden;
}